.additional__wrapper {
  @include container-size;
  @include container-padding;

  position: relative;
  margin-bottom: 37px;

  &::after {
    position: absolute;
    top: 14px;
    right: 0;

    display: block;
    content: "";
    width: 170px;
    height: 3px;
    background-color: $color-leaf;
  }
}

.additional__title {
  position: relative;
  width: 248px;

  margin-bottom: 34px;

  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  color: $color-black1;
  background-color: $color-white1;

  z-index: 2;
}

.additional__list {
  margin-bottom: 39px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .additional {
    margin-top: -20px;
    margin-bottom: 75px;
  }

  .additional__list {
    margin-bottom: 69px;
  }

  .additional__wrapper::after {
    width: 100%;
    top: 23px;
  }

  .additional__title {
    padding-left: 37px;
    margin-bottom: 81px;

    width: 410px;
    font-size: 36px;
    line-height: 1;
  }

  .additional__bonus {
    margin-bottom: 76px;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    margin-bottom: 86px;
  }

  .additional__title {
    padding-left: 0;

    position: absolute;
    left: 40px;
    top: -29px;

    width: 373px;
    font-size: 36px;
    line-height: 1;

    &::before {
      position: absolute;
      left: -40px;
      top: 0;

      display: block;
      content: "";
      width: 40px;
      height: 100%;
      background-color: $color-white1;
    }
  }

  .additional__wrapper {
    padding-top: 118px;
    display: flex;
  }

  .additional__wrapper::after {
    right: -70px;
    width: 1440px;
  }

  .additional__list {
    margin: 0;
    margin-right: 80px;
  }
}
