.additional__wrapper {
  @include container-size;
  @include container-padding;

  position: relative;

  &::after {
    position: absolute;
    top: 14px;
    right: 0;

    display: block;
    content: "";
    width: 170px;
    height: 3px;
    background-color: $color-leaf;
  }
}

.additional__title {
  position: relative;
  width: 248px;

  margin-bottom: 34px;

  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  color: $color-black1;
  background-color: $color-white1;

  z-index: 2;
}

.additional__list {
  margin-bottom: 39px;
  padding: 0;
  list-style: none;
}

.additional__bonus {
  margin-bottom: 35px;
  padding-top: 65px;

  height: 289px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $color-leaf;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
}

.additional__img {
  margin-bottom: 43px;
}

.additional__img img {
  filter: invert(100%);
}

.additional__offer {
  width: 165px;

  font-family: $font-arial;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: $color-white1;
}

@media (min-width: $tablet-width) {
  .additional {
    margin-top: -20px;
  }

  .additional__list {
    margin-bottom: 69px;
  }

  .additional__wrapper::after {
    width: 100%;
    top: 23px;
  }

  .additional__title {
    padding-left: 37px;
    padding-right: 33px;
    margin-bottom: 81px;

    width: 410px;
    font-size: 36px;
    line-height: 1;
  }

  .additional__bonus {
    padding-top: 0;
    padding-left: 91px;
    padding-right: 120px;
    padding-bottom: 5px;

    margin-bottom: 76px;

    flex-direction: row;
    justify-content: space-between;

    height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }

  .additional__offer {
    padding-top: 12px;
    text-align: left;
  }

  .additional__img {
    margin: 0;
  }
}
