.apply__wrapper {
  @include container-size;
  @include container-padding;
  margin-bottom: 34px;

  &:last-of-type {
    margin-bottom: 32px;
  }
}

.apply__cat-info {
  margin-bottom: 28px;
}

.apply__title {
  margin-top: 17px;

  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  color: $color-black1;
}

.apply__text {
  margin-bottom: 39px;

  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.29;
  color: $color-black1;
}

.apply__button {
  @include button;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;

  font-size: 16px;
  line-height: 1.25;
}

.apply__small {
  display: block;

  font-family: $font-arial;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: $color-grey2;
}

.apply__fieldset {
  margin-bottom: 23px;

  &--longermargin {
    margin-bottom: 26px;
  }

  &:last-of-type {
    margin-bottom: 28px;
  }
}

@media (min-width: $tablet-width) {
  .apply__title {
    margin-top: 53px;
    margin-bottom: 55px;

    font-size: 60px;
    line-height: 1;
  }

  .apply__cat-info {
    margin-bottom: 62px;
  }

  .apply__text {
    margin-bottom: 65px;
    padding-left: 40px;

    font-size: 20px;
    line-height: 1.5;
  }

  .apply__fieldset {
    margin-bottom: 48px;

    &--longermargin {
      margin-bottom: 65px;
    }
  }

  .apply__wrapper:last-of-type {
    margin-top: -13px;
    margin-bottom: 49px;
    width: $tablet-width;
    display: flex;
  }

  .apply__small {
    padding-top: 16px;
    font-size: 16px;
    line-height: 1;
  }

  .apply__button {
    margin-left: 40px;
    margin-right: 62px;
    width: 283px;
    height: 52px;
    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .apply__fieldset {
    margin-bottom: 30px;

    &--longermargin {
      margin-bottom: 50px;
    }
  }

  .apply__title {
    margin-top: 68px;
  }

  .apply__text {
    margin-bottom: 66px;
    padding: 0;
  }

  .apply__cat-info {
    @include container-size;
    @include container-padding;

    margin-bottom: 40px;

    display: flex;
    justify-content: space-between;
  }

  .apply__cat-info .fieldset__wrapper {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .apply__wrapper:last-of-type {
    margin-top: -24px;
    margin-bottom: 60px;
    padding: 17px 0 0;
    width: 100%;
  }

  .apply__button {
    margin-right: 83px;
    width: 568px;
  }
}
