.catalog {
  margin-bottom: 28px;
}

.catalog__wrapper {
  @include container-size;
}

.catalog__title {
  @include container-padding;
  margin-top: 15px;
  margin-bottom: 29px;

  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  color: $color-black1;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
