.change {
  padding-bottom: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change__wrapper {
  position: relative;
  margin-bottom: 32px;
  width: 320px;
  height: 240px;
}

.change__img {
  position: absolute;
  left: 0;
  top: 0;

  transform: scale(0);
  width: 100%;
  height: 100%;
  transition: 0.5s ease 0s;

  &--before {
    transform: scale(1);
    transition: 0.5s ease 0.5s;
  }
}

.change__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.change__switch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.change__label {
  position: relative;

  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.25;
  color: $color-black1;

  cursor: pointer;
}

.change__label::after {
  position: absolute;

  left: 2%;
  bottom: -2px;

  display: none;
  content: "";
  width: 95%;
  height: 1px;

  border-bottom: 1px dotted $color-black1;
  opacity: 0.23;
}

.change__label:hover::after {
  display: block;
  border-bottom-style: solid;
  opacity: 0.4;

  transition: 200ms ease-out;
}

.change__label:active::after {
  display: none;
}

.change__button {
  position: relative;

  width: 84px;
  height: 14px;
  background-color: $color-white1;

  border-radius: 6px;
  border: 1px solid $color-white2;

  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $color-black1;

  cursor: pointer;
  transition: 500ms ease;
}

.change__button-bar {
  margin: 0 18px;
}

.change__button::after {
  position: absolute;
  top: 3px;
  left: 6px;

  display: block;
  content: "";
  width: 35px;
  height: 6px;

  border-radius: 3px;
  background-color: $color-leaf;

  transition: 500ms ease;
}

.change--switched .change__img {
  &--before {
    transform: scale(0);
    transition: 0.5s ease 0s;
  }

  &--after {
    transform: scale(1);
    transition: 0.5s ease 0.5s;
  }
}

.change--switched .change__button::after {
  transform: translateX(100%);
}

@media (min-width: $tablet-width) {
  .change {
    padding-bottom: 72px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .change__wrapper {
    padding: 0 7px;
    margin-bottom: 16px;

    width: 690px;
    height: 517px;
  }

  .change__button {
    position: absolute;
    top: -14px;
    left: 0;
    right: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;

    transition: 1s ease;
    outline: none;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }

  .change__button:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .change__button:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25);
    border: 2px solid $color-leaf;
    transition-duration: 200ms;
  }

  .change--switched .change__button {
    transform: translateX(400px);
  }

  .change__button-bar {
    position: relative;
    margin: 0 23px;

    width: 426px;
    height: 6px;

    border-radius: 2.5px;
    background-color: $color-grey6;
  }

  .change__label {
    font-size: 20px;
  }

  .change__label::after {
    display: block;
  }

  .change .change__button::after {
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    transform: translate(0);
    width: 8px;
    height: 8px;
  }
}

@media (min-width: $desktop-width) {
  .change {
    padding-bottom: 51px;
    background: none;
  }

  .change__switch {
    margin-left: 57px;
  }

  .change__wrapper {
    margin-bottom: 39px;
  }
}
