.contact--grey {
  background-color: $color-background;
}

.contact__wrapper {
  @include container-size;
  @include container-padding;
}

.contact__info {
  padding-top: 11px;
  padding-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__title {
  width: 125px;

  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.25;
  color: $color-black1;
}

.contact__text {
  margin: 0;

  max-width: 138px;

  font-family: $font-arial;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: $color-grey2;
}

.contact__map {
  width: 100%;
  height: 362px;
  background-color: $color-white2;
  background-repeat: no-repeat;
  background-image:
    url("../img/map-pin.png"),
    url("../img/bg-map-mobile@1x.png");
  background-position: center 158px, center;
  background-size: 62px 53px, 100%;
}

@media (min-width: $tablet-width) {
  .contact__info {
    padding-top: 43px;
    padding-bottom: 39px;
    padding-left: 40px;
    padding-right: 43px;
  }

  .contact__title {
    font-size: 20px;
  }

  .contact__text {
    margin: 20px 0;
    max-width: 180px;
    font-size: 16px;
    text-align: right;
    line-height: 1.25;
  }

  .contact__map {
    height: 400px;

    background-image:
      url("../img/map-pin.png"),
      url("../img/bg-map-tablet@1x.png");
    background-position: center 225px, center;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    position: relative;
  }

  .contact__wrapper {
    position: absolute;
    top: 95px;
    left: 0;
    right: 0;

    width: 100%;
  }

  .contact__info {
    position: relative;

    padding-left: 75px;
    padding-right: 65px;
    width: 570px;
    background-color: $color-white1;

    z-index: 1;
  }

  .contact__text {
    text-align: left;
  }

  .contact__map {
    background-image:
      url("../img/map-pin.png"),
      url("../img/bg-map-desktop@1x.png");
    background-size: 113px 106px, 100%;
    background-position: 75.5% 155px, center;
  }
}
