.copyright {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__text {
  font-family: $font-arial;
  font-size: 16px;
  color: $color-grey2;
}

.copyright__img {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: auto;
    justify-content: flex-start;
  }

  .copyright__text {
    margin-right: 23px;
  }
}
