.copyright {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__text {
  margin-top: 12px;
  font-family: $font-arial;
  font-size: 16px;
  color: $color-grey2;
}

.copyright svg {
  fill: $color-grey5;
}

.copyright:hover svg {
  fill: $color-leaf;
}

.copyright:active {
  opacity: 0.4;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: auto;
    justify-content: flex-start;
  }

  .copyright__text {
    margin-right: 23px;
  }
}
