.example {
  background-color: $color-background;
}

.example__wrapper {
  @include container-size;
}

@media (min-width: $tablet-width) {
  .example {
    margin-top: -66px;
    margin-bottom: 0;
    background: linear-gradient(to top, $color-background 462px, $color-white1 462px);
  }

  .example__wrapper {
    padding-top: 20px;
    border-top: 1px solid $color-grey1;
    background: none;
  }

  .example__stats {
    margin-bottom: 18px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    margin-top: -102px;
    padding-bottom: 19px;
    background: linear-gradient(to top, $color-background 462px, $color-white1 462px);
  }

  .example__wrapper {
    display: flex;
    border: none;
  }
}
