.example {
  background-color: $color-background;
}

.example__wrapper {
  @include container-size;
}

@media (min-width: $tablet-width) {
  .example {
    margin-top: -66px;
    margin-bottom: 0;
    background:
      linear-gradient(to top, transparent 460px, $color-white1 460px),
      linear-gradient(to left, $color-background-darker 50%, $color-background 50%);
  }

  .example__wrapper {
    padding-top: 20px;
    border-top: 1px solid $color-grey1;
    background: none;
  }

  .example__stats {
    margin-bottom: 18px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    margin-top: -102px;
    background:
      linear-gradient(to bottom, $color-white1 210px, transparent 210px),
      linear-gradient(to left, $color-background-darker 50%, $color-background 50%);
  }

  .example__wrapper {
    padding-bottom: 19px;
    display: flex;
    border: none;
    background:
      linear-gradient(to bottom, $color-white1 210px, transparent 210px),
      linear-gradient(to left, $color-background-darker 325px, $color-background 325px);
  }
}
