.fieldset {
  @include container-size;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  border: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 280px;

  &--greenlined::after {
    position: absolute;
    top: 19px;
    right: -20px;

    display: block;

    content: "";
    width: $phone-width;
    height: 3px;

    background-color: $color-leaf;
  }

  &--bordered {
    padding-top: 25px;

    width: 100%;

    border: 1px solid $color-white2-50;
  }
}

.fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldset__item {
  width: 100%;
  margin-bottom: 14px;

  display: flex;
  align-items: center;

  &--shortermargin {
    margin-bottom: 13px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.fieldset__input,
.fieldset__textarea {
  border: 1px solid $color-white2-50;

  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.13;
  color: $color-grey2;

  &:hover {
    border-color: $color-white2;
  }

  &:focus {
    padding-left: 14px;
    outline: none;
    border: 2px solid $color-grey2;
  }

  &:not(:placeholder-shown):not(:focus):invalid {
    padding-left: 14px;
    border: 2px solid $color-red;
  }
}

.fieldset__textarea {
  padding: 15px;
  padding-top: 13px;
  padding-right: 12px;

  resize: none;
  width: 280px;
  height: 150px;

  &:focus {
    padding-left: 19px;
    padding-top: 15px;
    outline: none;
    border: 2px solid $color-grey2;
  }

  &:not(:placeholder-shown):not(:focus):invalid {
    padding: 14px;
    border: 2px solid $color-red;
  }
}

.fieldset__input {
  padding: 15px;

  flex-grow: 1;
  height: 45px;
}

.fieldset__item--email .fieldset__input,
.fieldset__item--tel .fieldset__input {
  padding-right: 40px;
}

.fieldset__item--email,
.fieldset__item--tel {
  position: relative;
}

.fieldset__mail-icon,
.fieldset__phone-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  pointer-events: none;

  fill: $color-black2;
}

.fieldset__input:focus + .fieldset__mail-icon,
.fieldset__input:focus + .fieldset__phone-icon {
  fill: $color-leaf;
}

.fieldset__input:not(:placeholder-shown):not(:focus):invalid + .fieldset__mail-icon,
.fieldset__input:not(:placeholder-shown):not(:focus):invalid + .fieldset__phone-icon {
  fill: $color-red;
}

.fieldset__mail-icon {
  right: 15px;
}

.fieldset__phone-icon {
  right: 13px;
}

.fieldset__radio,
.fieldset__checkbox {
  display: none;
}

.fieldset__label {
  position: relative;

  margin-right: 10px;

  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.13;
  color: $color-black2;

  &:hover {
    cursor: pointer;
  }
}

.fieldset__label--radio,
.fieldset__label--checkbox {
  margin: 0 auto;
  padding-left: 45px;

  width: 280px;
  min-height: 30px;
}

.fieldset__label--radio::before {
  position: absolute;
  left: 0;
  top: -7px;

  display: block;
  content: "";
  width: 30px;
  height: 30px;

  border: 1px solid $color-black3;
  border-radius: 50%;
}

.fieldset__radio:checked + .fieldset__label--radio::after {
  position: absolute;
  left: 9px;
  top: 2px;

  display: block;
  content: "";
  width: 12px;
  height: 12px;

  border-radius: 50%;
  background-color: $color-leaf;
}

.fieldset__label--checkbox::before {
  position: absolute;
  left: 0;
  top: -7px;

  display: block;
  content: "";
  width: 30px;
  height: 30px;

  border: 1px solid $color-black3;
}

.fieldset__checkbox:checked + .fieldset__label--checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 17px;
  filter: hue-rotate(240deg);
}

.fieldset__label--radio:hover::before,
.fieldset__label--checkbox:hover::before {
  border-color: $color-white2;
}

.fieldset__label--radio:active,
.fieldset__label--checkbox:active {
  opacity: 0.3;
}

.fieldset__legend {
  position: relative;
  padding-right: 22px;

  max-width: 205px;
  margin-bottom: 34px;

  font-size: 24px;
  line-height: 1;
  color: $color-black1;
  background-color: $color-white1;

  z-index: 2;

  &--bigmargin {
    margin-bottom: 41px;
  }

  &::before {
    position: absolute;
    left: -20px;
    top: 0;

    display: block;
    content: "";
    width: 20px;
    height: 100%;
    background-color: $color-white1;
  }
}

@media (min-width: $tablet-width) {
  .fieldset {
    width: 630px;
  }

  .fieldset--bordered {
    padding-top: 31px;
    padding-left: 28px;
    padding-bottom: 24px;
  }

  .fieldset--greenlined::after {
    top: 27px;
    right: -69px;
    width: $tablet-width;
  }

  .fieldset__legend {
    margin-bottom: 75px;
    padding-right: 42px;
    font-size: 36px;
    max-width: 100%;
  }

  .fieldset__legend::before {
    left: -40px;
    width: 40px;
  }

  .fieldset__item {
    margin-bottom: 20px;
  }

  .fieldset__label {
    margin-right: 20px;
    font-size: 20px;
    line-height: 1;
  }

  .fieldset__input {
    height: 52px;
  }

  .fieldset__input,
  .fieldset__textarea {
    font-size: 20px;
    line-height: 1;
  }

  .fieldset__textarea {
    padding: 16px 20px;
    width: 631px;
    height: 174px;
    margin-bottom: -13px;
  }

  .fieldset__label--radio,
  .fieldset__label--checkbox {
    padding-left: 60px;
  }

  .fieldset__label--radio {
    margin-bottom: 3px;

    width: 100%;
  }

  .fieldset__label--radio::before {
    width: 40px;
    height: 40px;
  }

  .fieldset__radio:checked + .fieldset__label--radio::after {
    top: 4px;
    left: 11px;

    width: 18px;
    height: 18px;
  }

  .fieldset__mail-icon {
    right: 20px;
  }

  .fieldset__phone-icon {
    right: 18px;
  }

  .fieldset__list--additional {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fieldset__list--additional .fieldset__item {
    width: 280px;
    margin-right: 65px;
    margin-bottom: 42px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .fieldset__legend--bigmargin {
    margin-bottom: 64px;
  }

  .fieldset__label--checkbox {
    width: 100%;
  }

  .fieldset__label--checkbox::before {
    width: 40px;
    height: 40px;
  }

  .fieldset__checkbox:checked + .fieldset__label--checkbox::before {
    background-size: 21px 16px;
  }
}

@media (min-width: $desktop-width) {
  .fieldset {
    @include container-padding;
    padding: 0;
    width: 100%;
  }

  .fieldset--bordered {
    padding-top: 32px;
  }

  .fieldset--bordered .fieldset__item {
    width: 513px;
  }

  .fieldset__item {
    width: 570px;
  }

  .fieldset::after {
    top: 21px;
    width: 1440px;
  }

  .fieldset__list--contact {
    margin-bottom: 18px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .fieldset__list--contact .fieldset__item {
    margin-bottom: 0;
  }

  .fieldset__textarea {
    margin-bottom: 4px;
    width: 1220px;
    height: 174px;
  }

  .fieldset__list--additional {
    width: 100%;
  }

  .fieldset__list--additional .fieldset__item {
    width: 220px;
    margin-right: 105px;
    margin-bottom: 42px;

    &:nth-child(2n) {
      margin-right: 105px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
