.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  top: -45px;

  width: 25px;
  height: 19px;

  border: none;
  font-size: 0;

  background: url("../img/icon-mobile-menu.svg") 50% 50%;

  z-index: 3;

  &:hover {
    cursor: pointer;
  }
}

.main-nav__list {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 0;
  margin: 0;

  background-color: $color-white1;
  text-transform: uppercase;
  text-align: center;
  list-style: none;

  transition: transform 0.5s ease;
  z-index: 2;
}

.main-nav--toggled .main-nav__toggle {
  background: url("../img/icon-close.svg") 50% 50% no-repeat;
}

.main-nav--toggled .main-nav__list {
  transform: translateY(calc(100% - 1px));
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  position: static;
  transform: translateY(0);
}

.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 65px;
  width: 100%;

  border-top: 1px solid $color-grey1;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: 1px solid $color-grey1;
  }
}

.main-nav__link {
  font-size: 20px;
  font-weight: 500;
  color: $color-black1;
}

.main-nav__link:hover {
  opacity: 0.6;

  transition: 200ms ease-out;
}

.main-nav__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav .main-nav__list {
    position: static;
    transform: translateY(0);

    display: flex;
    flex-wrap: wrap;

    background-color: transparent;
    transition: none;
  }

  .main-nav__item {
    position: relative;

    margin-right: 35px;
    width: auto;

    border: none;

    &:first-child {
      border: none;
    }

    &:last-child {
      border: none;
      margin-right: 0;
    }
  }

  .main-nav__link {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.39;
    color: $color-black2;
  }

  .main-nav__item--active::after {
    position: absolute;
    left: 0;
    bottom: 11px;

    display: block;
    content: "";
    width: 99%;
    height: 2px;

    background-color: $color-leaf;
  }
}

@media (min-width: $desktop-width) {
  .main-nav--index .main-nav__link {
    color: $color-white1;
  }

  .main-nav--index .main-nav__item--active::after {
    background-color: $color-white1;
  }

  .main-nav__link {
    font-size: 20px;
    line-height: 1.25;
  }
}
