.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  top: -45px;

  width: 25px;
  height: 19px;

  border: none;
  font-size: 0;

  background: url("../img/icon-mobile-menu.svg") 50% 50%;

  &:hover {
    cursor: pointer;
  }

  &--toggled {
  background: url("../img/icon-close.svg") 50% 50% no-repeat;
  }

  &--hidden {
    display: none;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;

  display: none;

  text-transform: uppercase;
  text-align: center;
  list-style: none;

  &--active {
    display: block;
  }
}

.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 100%;

  font-size: 20px;
  font-weight: 500;
  color: $color-black1;

  border-top: 1px solid $color-lightgrey;
}

.main-nav__link {

}
