.page-header__wrapper {
  @include container-size;
}

.page-header__logo-wrapper {
  position: relative;

  background-color: $color-white1;
  border-bottom: 1px solid $color-grey1;

  z-index: 3;
}

.page-header__logo {
  padding: 11px 0 15px 20px;
  display: block;
  width: 211px;
}

.page-header__logo[href]:hover {
  opacity: 0.8;
  transition: 200ms ease-out;
}

.page-header__logo[href]:active {
  opacity: 0.6;
}

.page-header__logo img {
  width: 191px;
  height: 39px;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    @include container-padding;
    padding-top: 22px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .page-header__logo-wrapper {
    border: none;
  }

  .page-header__logo {
    padding: 0;
    width: auto;
  }

  .page-header__logo img {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    padding-top: 54px;
  }

  .page-header__logo {
    padding-bottom: 3px;
  }

  .page-header__logo img {
    width: 203px;
    height: 60px;
  }
}
