.programs__wrapper {
  @include container-size;
  @include container-padding;
}

.programs__item {
  position: relative;
  padding: 6px 21px 21px;
  margin-bottom: 20px;

  background-color: $color-background;

  &::before {
    position: absolute;
    top: 24px;
    left: 22px;

    display: block;
    content: "";
    width: 50px;
    height: 51px;

    background-color: $color-leaf;
    border-radius: 50%;
  }
}

.programs__item::after {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  content: "";
}

.programs__item--slim::after {
  top: 22px;
  left: 30px;

  width: 35px;
  height: 49px;
  background: url("../img/icon-cat-slim.svg") no-repeat;
}

.programs__item--pro::after {
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
  background: url("../img/icon-cat-pro.svg") no-repeat;
}

.programs__title {
  margin-left: 70px;
  margin-bottom: 30px;

  font-size: 24px;
  font-weight: normal;
  line-height: 1.54;
  text-transform: uppercase;
  color: $color-black1;
}

.programs__desc {
  position: relative;
  margin-bottom: 41px;

  font-family: $font-arial;
  font-size: 14px;
  line-height: 1.29;
  color: $color-grey2;

  &::after {
    position: absolute;
    bottom: -23px;
    left: 0;

    display: block;
    content: "";
    width: 240px;
    height: 1px;

    background-color: $color-grey1;
  }
}

.programs__button {
  display: inline-block;
  width: 100%;

  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: $color-black1;

  &::after {
    margin-left: 10px;
    display: inline-block;

    content: "";
    width: 25px;
    height: 12px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat;

    transition: 200ms ease-out;
  }
}

.programs__button:hover::after,
.programs__button:focus::after {
  width: 34px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
}

.programs__button:active {
  opacity: 0.3;
  transition: 200ms ease-out;
}

@media (min-width: $tablet-width) {
  .programs__item {
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 62px;
    padding-left: 53px;
    padding-right: 280px;
  }

  .programs__item::before {
    left: auto;
    right: 62px;
    top: 92px;

    width: 200px;
    height: 200px;
  }

  .programs__item--slim::after {
    left: auto;
    right: 92px;
    top: 80px;

    width: 141px;
    height: 194px;
  }

  .programs__item--pro::after {
    left: auto;
    right: 28px;
    top: 135px;

    width: 268px;
    height: 113px;
  }

  .programs__item--pro .programs__desc {
    padding-right: 55px;
  }

  .programs__title {
    margin-left: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 1.03;
  }

  .programs__desc {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 1.5;
  }

  .programs__desc::after {
    display: none;
  }

  .programs__button {
    width: auto;
    font-size: 20px;
  }

  .programs__button::after {
    margin-left: 23px;
    margin-bottom: 2px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    margin-bottom: 30px;
  }

  .programs__wrapper {
    display: flex;
  }

  .programs__item {
    margin-right: 80px;
    padding-right: 53px;
    width: 570px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .programs__title {
    margin-left: 161px;
    margin-bottom: 74px;
    width: 100%;
  }

  .programs__item::before {
    left: 52px;
    top: 47px;

    width: 100px;
    height: 100px;
  }

  .programs__item--slim::after {
    left: 66px;
    top: 41px;

    width: 71px;
    height: 97px;
  }

  .programs__item--pro::after {
    left: 34px;
    top: 69px;

    width: 134px;
    height: 57px;
  }

  .programs__item .programs__desc {
    width: 100%;
  }

  .programs__desc {
    margin-bottom: 30px;
  }
}
