.promo {
  margin-bottom: 22px;
}

.promo__wrapper {
  @include container-size;

  display: flex;
  flex-direction: column;
  align-items: center;

  background:
    center 0 url("../img/index-background-mobile@1x.jpg") no-repeat,
    linear-gradient(to bottom, $color-catbg 305px, #ffffff 305px);
  background-size: 320px 305px, 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(to bottom, $color-catbg 305px, #ffffff 305px);
  }
}

.promo__title {
  margin-top: 28px;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  color: $color-white1;
}

.promo__slogan {
  margin-bottom: 30px;

  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $color-white1;
}

.promo__img {
  width: 280px;
  height: 270px;
}

.promo__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    position: relative;

    padding-top: 25px;
    padding-left: 118px;
    padding-bottom: 507px;

    background: none;
    align-items: flex-start;
  }

  .promo__title {
    margin-bottom: 20px;

    max-width: 450px;
    font-size: 60px;
    text-align: left;
    color: $color-black1;
  }

  .promo__slogan {
    margin-bottom: 47px;
    font-size: 20px;
    text-align: left;
    color: $color-black1;
  }

  .promo__img {
    position: absolute;
    left: 30px;
    bottom: -24px;

    width: 709px;
    height: 609px;

    z-index: -1;
  }

  .promo__button {
    width: 245px;
    height: 52px;
    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    margin-bottom: 68px;

    &::before {
      position: absolute;
      top: 0;
      right: 1px;

      display: block;
      content: "";
      width: 50%;
      height: 696px;
      background-color: $color-catbg;
      background-image: url("../img/index-background-desktop.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;

      z-index: -1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .promo__wrapper {
    padding-left: 120px;
    padding-bottom: 200px;
  }

  .promo__title {
    margin-top: 78px;
  }

  .promo__slogan {
    margin-bottom: 51px;
  }

  .promo__img {
    left: 490px;
    top: 23px;

    width: 552px;
    height: 499px;
  }
}
