.promo {
  margin-bottom: 22px;
}

.promo__wrapper {
  @include container-size;

  display: flex;
  flex-direction: column;
  align-items: center;

  background:
    url("../img/index-background-mobile@1x.jpg") no-repeat,
    linear-gradient(to bottom, $color-leaf 305px, #ffffff 305px);
}

.promo__title {
  margin-top: 28px;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  color: $color-white1;
}

.promo__slogan {
  margin-bottom: 28px;

  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $color-white1;
}

.promo__button {
  @include button;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    position: relative;

    padding-top: 25px;
    padding-left: 118px;
    padding-bottom: 507px;

    background: none;
    align-items: flex-start;
  }

  .promo__title {
    margin-bottom: 20px;

    max-width: 450px;
    font-size: 60px;
    text-align: left;
    color: $color-black1;
  }

  .promo__slogan {
    margin-bottom: 47px;
    font-size: 20px;
    text-align: left;
    color: $color-black1;
  }

  .promo__img {
    position: absolute;
    right: 30px;
    bottom: -24px;

    z-index: -1;
  }

  .promo__img img {
    width: 709px;
    height: 609px;
  }

  .promo__button {
    width: 245px;
    height: 52px;
    font-size: 20px;
    line-height: 1;
  }
}
