.see-more {
  position: relative;
  padding-top: 25px;
  padding-bottom: 24px;

  width: 100%;

  border: 1px solid $color-grey3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.see-more::before,
.see-more::after {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;

  display: block;
  content: "";

  width: 30px;
  height: 2px;

  background-color: $color-plus;
}

.see-more::after {
  transform: rotate(90deg);
}

.see-more__title {
  margin: 53px 0 10px;

  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-transform: uppercase;
  color: $color-black1;
}

.see-more__small {
  margin-bottom: 20px;

  font-family: $font-arial;
  font-size: 12px;
  line-height: 1.33;
  color: $color-grey2;
}

.see-more__button {
  font-size: 16px;
  line-height: 1.25;
  background-color: $color-background;
  color: $color-grey2;

  &:hover {
    background-color: $color-grey4;
  }

  &:active {
    color: $color-grey2-30;
  }
}

@media (min-width: $tablet-width) {
  .see-more {
    margin-top: 84px;
    padding-top: 55px;
    width: 324px;
    height: 431px;
  }

  .see-more::before,
  .see-more::after {
    top: 81px;
    width: 60px;
  }

  .see-more__title {
    margin-top: 106px;
    margin-bottom: 25px;
    width: 135px;
    font-size: 20px;
    text-align: center;
    line-height: 1;
  }

  .see-more__small {
    margin-bottom: 85px;
    width: 175px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }

  .see-more__button {
    width: 249px;
  }
}


@media (min-width: $desktop-width) {
  .see-more {
    width: 245px;
  }

  .see-more__button {
    width: 169px;
  }
}
