.see-more {
  padding-top: 25px;
  padding-bottom: 24px;

  border: 1px solid $color-grey3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.see-more__img {
  opacity: 0.2;
  width: 31px;
  height: 31px;
}

.see-more__img img {
  height: 100%;
  width: 100%;
}

.see-more__title {
  margin: 21px 0 10px;

  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-transform: uppercase;
  color: $color-black1;
}

.see-more__small {
  margin-bottom: 20px;

  font-family: $font-arial;
  font-size: 12px;
  line-height: 1.33;
  color: $color-grey2;
}

.see-more__button {
  @include button;
  font-size: 16px;
  line-height: 1.25;
  background-color: $color-background;
  color: $color-grey2;
}

@media (min-width: $tablet-width) {
  .see-more {
    margin-top: 84px;
    padding-top: 55px;
    width: 324px;
    height: 431px;
  }

  .see-more__img {
    width: 61px;
    height: 61px;
  }

  .see-more__title {
    margin-top: 47px;
    margin-bottom: 25px;
    width: 135px;
    font-size: 20px;
    text-align: center;
    line-height: 1;
  }

  .see-more__small {
    margin-bottom: 85px;
    width: 175px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }

  .see-more__button {
    width: 249px;
  }
}
