.social {
  padding: 0;
  list-style: none;

  width: 100%;
  min-height: 64px;
  border-top: 1px solid $color-grey1;
  border-bottom: 1px solid $color-grey1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item {
  margin: 0 18px;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 8px;
  }
}

.social__link:hover svg {
  fill: $color-leaf;
}

.social__link:active svg {
  opacity: 0.4;
}

.social__item svg {
  fill: $color-grey5;
}

@media (min-width: $tablet-width) {
  .social {
    width: auto;
    border: none;
  }

  .social__item {
    margin: 0 14px;

    &:first-of-type {
      margin-left: 17px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .social__link--vk svg {
    width: 30px;
    height: 16px;
  }

  .social__link--insta svg {
    width: 23px;
    height: 23px;
  }

  .social__link--fb svg {
    width: 14px;
    height: 28px;
  }
}
