$color-leaf: #68b738;
$color-leaf-darker: #5eaa2f;
$color-background: #f2f2f2;
$color-grey1: rgba(0, 0, 0, 0.1);
$color-grey2: #444444;
$color-grey2-30: rgba(68, 68, 68, 0.3);
$color-grey3: #ededed;
$color-grey4: #ebebeb;
$color-grey5: #666666;
$color-grey6: #dcdcdc;
$color-black1: #111111;
$color-black2: #222222;
$color-black3: #bababa;
$color-white1: #ffffff;
$color-white1-30: rgba(255, 255, 255, 0.3);
$color-white2: #cdcdcd;
$color-white2-50: rgba(205, 205, 205, 0.5);
$color-red: #ff8282;
$font-arial: "Arial", sans-serif;

$phone-padding: 20px;
$phone-width: 320px;
$phone-maxwidth: 767px;

$tablet-padding: 30px;
$tablet-width: 768px;
$tablet-maxwidth: 1299px;

$desktop-padding: 40px;
$desktop-width: 1300px;
$desktop-maxwidth: 1300px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
